body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 0px;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

code {
  background: #EEEEEE;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border: 1px solid #87B3FF;
  border-top: none;
  padding: 4px;
}

.gwt-TabBar {
 font-size: smaller; 
 background-color: #C3D9FF;
}

.gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

/*---------------------------------------------------------------*/

#bugReport {
  margin-bottom: 1em;
  background: white;
}
#bugReport h2 {
  margin: 0;
}
#bugReport h4 {
  float: left;
  clear: left;
  margin: 0 1em 0.25em 1em;
  font-size: smaller;
}
#bugReport p {
  font-family: serif;
  margin: 0;
  padding-left: 10em;
}
#bugReport pre {
  clear: left;
  margin: 0;
}
#bugReport .module {
  padding-left: 0;
}
