@CHARSET "ISO-8859-1";
body {
  font-family: sans-serif;
}
h1, h2, h3, h4 {
  margin-bottom: 0.33em;
}
h2 {
  color: #6688AA;
}
h3 {
  font-size: 100%;
}
h4 {
  color: #446688;
  font-size: 90%;
  margin-left: 2em
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
}
#content {
  margin: auto;
  width: 40em;
}
li {
  margin-bottom: 0.33em;
}
hr {
  height: 4px;
  background-color: #6688AA;
  margin-top: 2em;
  margin-bottom: 2em;
}